    /* Estilos para el aside */

aside {
      position: fixed;
      top: 0;
      right: 0;
      width: 400px;
      height: 100%;
      background-color: #F1F1F1;
      padding: 20px;
     overflow-y: auto;
}
aside h3 {
      color: #000;
}

header {
      background-image: url("../assets/imgPortada.png");
      background-size: cover;
      width: 1920px;
      height: 1080px;

}

header h1{
      color: white;
      font-size:10em;
      text-align: center;
}

header p{
      color: white;
}


